div {
    display: inline-block;
    font-size: 20px;
}

div.genel {
    width: 700px;
    height: 200px;
    border:3px solid black;
}

div.a {
    width: 300px;
    height: 80px;
    border:3px solid black;
    position: relative;
    top:-170px;
    right: 690px;
}

div.b {
    width: 150px;
    height: 25px;
    border: 3px solid black;
    position: relative;
    top: -170px;
    right: 490px;
}

div.c {
    width: 300px;
    height: 30px;
    border: 3px solid black;
    position: relative;
    top:-130px;
    left:380px;
}